p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
    /*color: rgb(22, 88, 0);*/
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-family: 'Papyrus'; */
    color: darkgreen;
}

h1, h2 {
    text-align: center;
}

p, h3 {
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

img {
    display: block;
    width: 500px;
    height: 333px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.463) 10px 10px 5px;
}

